preprocessed_data/
processed-data/02_bulk_qc/*
processed-data/04_snRNA-seq/*
processed-data/05_explore_sce/*
processed-data/06_deconvolution/*
processed-data/07_cellranger/*
processed-data/08_bulk_snpPC/v*
processed-data/08_bulk_snpPC/habenula*
processed-data/99_paper_figs/*
processed-data/09_trans_special_analysis/*
processed-data/17_eQTL/tensorQTL_input/logcounts.bed.gz
processed-data/17_eQTL/tensorQTL_output/*/*.parquet
processed-data/17_eQTL/tensorQTL_output/interaction*/all.csv
processed-data/17_eQTL/pre_geno_snapshot_2024_05_02
processed-data/17_eQTL/v2_snapshot_2024_06_20
processed-data/18_coloc/temp_inputs
plots/17_eQTL/pre_geno_snapshot_2024_05_02
plots/17_eQTL/v2_snapshot_2024_06_20
.Rhistory
.Rproj.user
.DS_Store
