LHb_Experiment1_Br5422_middleslice_20x_multistitched_maxIP_unmixed_updated.nd2
LHb_Experiment1_Br6462_rightslice_20x_multistitched_maxIP_unmixed.nd2
LHbExperiment1_Br8112_thirdtoleft_20x_multistitched_maxIP_unmixed.nd2
LHbExperiment2_Br6462_rightslice_20x_multistitchedimage_maxIP_unmixed.nd2
LHbExperiment2_Br8112_thirdtoleft_20x_multistitched_maxIP_unmixed_new.nd2
MHbExperiment_Br5422_middleslice_20x_multistitchimage_maxIP_unmixed.nd2
redo of 20x multistitched umixed.nd2
